#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.stat-grid {
  margin-bottom: 16px;
  width: 22.5%;
  /* border: 1px solid rgb(255, 225, 0) !important; */
  border: none !important;
  color: #000;
  font-weight: 500;
}

.grid-template-columns-auto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* background: linear-gradient(rgb(2, 189, 246), rgb(2, 247, 96)); */
}

.box-hover:hover {
  box-shadow: none !important;
  cursor: pointer;
}